<% include partials/header%>
    <div id="afterNav">
        <div class="ui items container text ">
            <div class="item">
                <a class="ui medium centered image ">
      <img src="<%= blog.img%>">
    </a>
                <div class="content">
                    <a class="ui header huge">
                        <%= blog.name%>
                    </a>
                    <p>
                        <em><%= blog.date.toDateString()%></em>
                    </p>
                    <div class="description">
                        <h4><b>Description</b></h4>
                        <p>
                            <%= blog.desc%>
                        </p>
                    </div>
                        <p> 
                            <a href="/blogs/<%= blog._id%>/edit" class="ui blue basic button">Edit </a>
                            <form  id="btnDelete" action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
                                <button class="ui red basic button">Delete</button>
                            </form>
                        </p>
                </div>
            </div>
        </div>
    </div>


    <% include partials/footer%>
